/*
   sábado, 26 de março de 201614:54:05
   User: 
   Server: MIKE-PC
   Database: mgasoftware
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.ComissaoCalculadaVendedor
	(
	IdComissaoCalculadaVendedor int NOT NULL IDENTITY (1, 1),
	IdEmpresa int NULL,
	Data datetime NULL,
	VencimentoOriginal datetime NULL,
	VencimentoParcela datetime NULL,
	IdPedidoVendaItem int NULL,
	IdNotaFiscalItem int NULL,
	IdContasReceber int NULL,
	IdVendedor int NULL,
	Percentual decimal(18, 4) NULL,
	Valor decimal(18, 4) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.ComissaoCalculadaVendedor ADD CONSTRAINT
	PK_ComissaoCalculadaVendedor PRIMARY KEY CLUSTERED 
	(
	IdComissaoCalculadaVendedor
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ComissaoCalculadaVendedor SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ComissaoCalculadaVendedor', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ComissaoCalculadaVendedor', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ComissaoCalculadaVendedor', 'Object', 'CONTROL') as Contr_Per 