/*
   sábado, 9 de abril de 201611:39:52
   User: mgasoftware
   Server: mssql.mgasolucoes.com.br
   Database: mgasoftware
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.ComissaoContaCorrente.IdTelemarketing', N'Tmp_IdTeleVendas', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.ComissaoContaCorrente.Tmp_IdTeleVendas', N'IdTeleVendas', 'COLUMN' 
GO
ALTER TABLE dbo.ComissaoContaCorrente SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ComissaoContaCorrente', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ComissaoContaCorrente', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ComissaoContaCorrente', 'Object', 'CONTROL') as Contr_Per 