/*
   domingo, 17 de abril de 201610:29:59
   User: mgasoftware
   Server: mssql.mgasolucoes.com.br
   Database: mgasoftware
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.PagamentoLoteChequeTerceiro
	(
	IdPagamentoLoteChequeTerceiro int NOT NULL IDENTITY (1, 1),
	IdPagamentoLote int NULL,
	IdChequeTerceiro int NULL,
	Valor decimal(18, 4) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.PagamentoLoteChequeTerceiro ADD CONSTRAINT
	PK_PagamentoLoteChequeTerceiro PRIMARY KEY CLUSTERED 
	(
	IdPagamentoLoteChequeTerceiro
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.PagamentoLoteChequeTerceiro SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PagamentoLoteChequeTerceiro', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PagamentoLoteChequeTerceiro', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PagamentoLoteChequeTerceiro', 'Object', 'CONTROL') as Contr_Per 