/*
   quinta-feira, 2 de julho de 201520:59:07
   User: mgasoftware
   Server: mssql.mgasolucoes.com.br
   Database: mgasoftware
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DiasPagamentoItem
	(
	IdDiasPagamentoItem int NOT NULL IDENTITY (1, 1),
	IdDiasPagamento int NULL,
	SemanaMes int NULL,
	DiaSemana int NULL,
	DiaMes int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DiasPagamentoItem ADD CONSTRAINT
	PK_DiasPagamentoItem PRIMARY KEY CLUSTERED 
	(
	IdDiasPagamentoItem
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DiasPagamentoItem SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.DiasPagamentoItem', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.DiasPagamentoItem', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.DiasPagamentoItem', 'Object', 'CONTROL') as Contr_Per 