/*
   quinta-feira, 9 de julho de 201515:19:32
   User: mgasoftware
   Server: mssql.mgasolucoes.com.br
   Database: mgasoftware
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.ConfGrupoImpostoRetido.IdCodigoImposto', N'Tmp_IdCodigoImpostoRetido', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.ConfGrupoImpostoRetido.Tmp_IdCodigoImpostoRetido', N'IdCodigoImpostoRetido', 'COLUMN' 
GO
ALTER TABLE dbo.ConfGrupoImpostoRetido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ConfGrupoImpostoRetido', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ConfGrupoImpostoRetido', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ConfGrupoImpostoRetido', 'Object', 'CONTROL') as Contr_Per 