/*
   segunda-feira, 13 de julho de 201514:37:48
   User: mgasoftware
   Server: mssql.mgasolucoes.com.br
   Database: mgasoftware
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_FornecedorCentroCusto
	(
	IdFornecedorCentroCusto int NOT NULL IDENTITY (1, 1),
	IdFornecedor int NULL,
	IdValoresCentroCusto int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_FornecedorCentroCusto SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_FornecedorCentroCusto ON
GO
IF EXISTS(SELECT * FROM dbo.FornecedorCentroCusto)
	 EXEC('INSERT INTO dbo.Tmp_FornecedorCentroCusto (IdFornecedorCentroCusto, IdFornecedor, IdValoresCentroCusto)
		SELECT IdFornecedorCentroCusto, IdFornecedor, IdValoresCentroCusto FROM dbo.FornecedorCentroCusto WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_FornecedorCentroCusto OFF
GO
DROP TABLE dbo.FornecedorCentroCusto
GO
EXECUTE sp_rename N'dbo.Tmp_FornecedorCentroCusto', N'FornecedorCentroCusto', 'OBJECT' 
GO
ALTER TABLE dbo.FornecedorCentroCusto ADD CONSTRAINT
	PK_FornecedorCentroCusto PRIMARY KEY CLUSTERED 
	(
	IdFornecedorCentroCusto
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.FornecedorCentroCusto', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.FornecedorCentroCusto', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.FornecedorCentroCusto', 'Object', 'CONTROL') as Contr_Per 