/*
   segunda-feira, 17 de outubro de 201619:49:02
   User: mgasoftware
   Server: mssql.mgasolucoes.com.br
   Database: mgasoftware
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Configuracao ADD
	VendasRelValorTotal bit NULL,
	VendasRelDescontoVarejista bit NULL,
	VendasRelTotalProdutos bit NULL,
	VendasRelPeso bit NULL,
	VendasRelVendedor bit NULL,
	VendasRelTelevendas bit NULL
GO
ALTER TABLE dbo.Configuracao SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Configuracao', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Configuracao', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Configuracao', 'Object', 'CONTROL') as Contr_Per 